fastapi
uvicorn
beautifulsoup4
langchain
langchain-core
langchain-community
langchain-groq
langgraph

groq
pydantic

faiss-cpu
sentence-transformers
transformers
torch

unstructured-client
langgraph-cli[inmem]